.channel-main {
  overflow-y: scroll;
  max-height: calc(100vh - 120px);
}

.channel-main::-webkit-scrollbar {
  width: 8px;
}

.channel-main::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #2E3338;
  margin: 3px 0;
}

.channel-main::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--color-not-quite-black);
}

.channel-container {
  max-height: 800px;
  width: calc(100vw - 562px);
  left: 80px;
  background-color: #36393F;
  padding: 0 3px 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.channel-info {
  margin-top: 15px;
  padding-left: 15px;
}

.channel-info h1 {
  margin: 0;
  user-select: none;
}

.channel-info p {
  font-family: "gg-sans-med", sans-serif;
  margin: 10px 0;
  color: var(--color-secondary-text);
  user-select: none;
}

.channel-squircle {
  background-color: #4F545C;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: relative;
  transition: border-radius 128ms, background 128ms, color 128ms;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  margin-bottom: 5px;
}

#edit-channel {
  font-family: "gg-sans-med", sans-serif;
  display: flex;
  align-items: center;
  color: var(--color-link-text);
  cursor: pointer;
  width: 110px;
  padding: 5px;
  border-radius: 3px;
  user-select: none;
}

#edit-channel:hover {
  background-color: var(--color-lightest-dark);
}

.message-form {
  width: 100%;
  position: sticky;
  padding-left: 15px;
  bottom: 10px;
}

.message-form > input {
  width: calc(100% - 47px);
  font-family: "gg-sans-med", sans-serif;
  margin: 10px 0px;
  padding: 10px;
  font-size: 16px;
  border-radius: 7px;
  border: none;
  background: none;
  color: var(--color-full-white);
  background-color: var(--color-lightest-dark);
}

.message-form > input:focus {
  outline: none;
}

.message-form > input::placeholder {
  color: var(--color-third-text);
}