body {
  background-color: white !important;
  text-rendering: optimizeLegibility;
}

.homepage-main {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}

.homepage-nav {
  top: 0;
  width: 63%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homepage-link {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}

.homepage-link:hover {
  text-decoration: underline;
}

.nav-left {
  font-family: "antique-olive", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: white;
  user-select: none;
}

.section-header {
  font-family: "gg-sans-bold-2", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.15;
}

.section-header-bottom {
  font-family: "antique-olive", sans-serif;
  font-size: 40px;
}

.section-text {
  margin-top: 24px;
  font-family: "gg-sans-med", sans-serif;
  font-size: 20px;
  line-height: 1.625;
}

.section-container {
  width: 1260px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 120px 40px;
}

.section-container-bottom {
  width: 1260px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 120px 40px 80px;
}

.image-container {
  width: 55%;
  display: flex;
  align-items: center;
}

.section-content {
  width: 380px;
}

.section-content-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section5-img {
  width: 1180px;
  margin-top: 16px;
}

.section1 {
  background-image: url(../../assets/homepage-banner.png);
  background-position: center;
  height: 625px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section5 {
  height: 1060px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section6 {
  height: 285px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.section6-content {
  width: 1260px;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 120px;
}

.section7 {
  height: 543px;
  background-color: #23272A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section7-divider {
  width: 1180px;
  border-top: 1px solid #5865F2;
  margin-bottom: 32px;
}

.section7-content-top, .section7-content-bottom {
  padding: 0 40px;
  width: 1180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content-left {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.left1 {
  color: #5865f2;
  font-family: "antique-olive", sans-serif;
  font-size: 32;
  line-height: 0.9;
}

.left2 {
  display: flex;
  align-items: center;
  font-family: "gg-sans", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-top: 24px;
}

.below-divider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 680px;
}

.section-alt {
  background-color: #F6F6F6;
}

.sparkles {
  margin-bottom: -20px;
  user-select: none;
  -webkit-user-drag: none;
}

.homepage-below-nav {
  padding: 120px 40px;
  display: flex;
  width: 800px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-below-nav p {
  margin-top: 40px;
  font-family: "gg-sans-med";
  font-size: 20px;
  line-height: 1.625;
}

.homepage-main-heading {
  font-family: "antique-olive", sans-serif;
  font-size: 56px;
}

.homepage-button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 28px;
  font-weight: bold;
  color: white;
}

.top-button {
  font-size: 14px;
  font-family: "gg-sans", sans-serif;
  padding: 10px 16px;
  background-color: white;
  color: #23272A;
  transition: all 0.2s ease-in-out;
}

.top-button:hover {
  color: #5865F2;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 14px 28px, rgba(0, 0, 0, 0.05) 0px 10px 10px;
  transition: all 0.2s ease-in-out;
}

.black-button {
  margin-top: 24px;
  padding: 16px 32px;
  font-family: "gg-sans-med";
  background-color: #23272A;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.black-button:hover {
  background-color: var(--color-third-dark);
  box-shadow: rgba(0, 0, 0, 0.10) 0px 14px 28px, rgba(0, 0, 0, 0.10) 0px 10px 10px;
  transition: all 0.2s ease-in-out;
}

.blue-button {
  background-color: #5865F2;
  color: white;
  font-family: "gg-sans-med";
  transition: all 0.2s ease-in-out;
}

.big-button {
  padding: 16px 32px;
  font-size: 20px;
  margin-top: 40px;
}

.blue-button:hover {
  background-color: #7983F5;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 14px 28px, rgba(0, 0, 0, 0.05) 0px 10px 10px;
  transition: all 0.2s ease-in-out;
}

.flag-emoji {
  height: 16px;
  width: 24px;
  margin-right: 8px;
}