.user-show {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 80px;
  background-color: #2F3136;
  color: white;
  display: flex;
}

.friends-info {
  width: calc(100% - 320px);
  background-color: var(--color-third-dark);
  margin-top: 50px;
}

.friends-panel-container {
  margin-top: 50px;
}

.user-show-header {
  position: fixed;
  left: 80px;
}

.user-show-header-left {
  width: 240px;
}

.user-info-bottom {
  display: flex;
  width: 240px;
  height: 52px;
  background-color: #2A2C30;
  position: fixed;
  left: 80px;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  z-index: 101;
}

.user-info-details {
  display: flex;
  flex-direction: column;
}

.user-info-details h4 {
  font-family: 'gg-sans-bold', sans-serif;
  font-size: 14px;
}

.user-info-details p {
  font-family: 'gg-sans', sans-serif;
  font-size: 12px;
  color: var(--color-secondary-text);
}

.user-button {
  display: flex;
  width: calc(-52% + 240px);
  margin-left: 5px;
  padding: 3px 10px 3px 5px;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
}

.user-button:hover {
  background-color: #3F4248;
}

.settings {
  display: flex;
  margin-right: 10px;
}

.settings-icon {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  color: var(--color-secondary-text);
}

.settings-icon:hover {
  background-color: #3F4248;
  color: white;
}

.vertical-divider {
  width: 1px;
  background: var(--color-full-white);
  height: 50%;
  border-radius: 1px;
  opacity: 0.10;
  margin: 10px 0 10px 15px;
  z-index: 101;
}

.divider-width {
  width: 105px;
}

.friend-options {
  display: flex;
  gap: 15px;
  margin-left: 15px;
}

.friend-option-button {
  background: none;
  border: none;
  font-family: "gg-sans-med", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #B9BBBE;
  padding: 3px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.friend-option-button:hover {
  background-color: var(--color-lighter-dark);
  color: white;
}

#friend-option-active {
  background-color: var(--color-lighter-dark);
  color: white;
}

.friend-show-main {
  height: 100%;
  padding: 15px 20px;
}

.user-text-channels {
  padding: 7px 5px 5px 5px;
  margin-bottom: 3px;
  height: 20px;
  display: flex;
  width: calc(100% - 30px);
  justify-content: space-between;
  align-items: center;
  font-size: small;
  user-select: none;
  color: #B9BBBE;
}

.friend-show-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-radius: 4px;
  cursor: pointer;
}

.friend-show-li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.friend-show-li:hover.user-item-option {
  background-color: #2A2C30;
}

.user-status {
  font-family: "gg-sans", sans-serif !important;
  font-size: 14px;
  font-weight: bold;
  color: #B9BBBE;
}

.friend-item-left {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.friend-item-right {
  display: flex;
}

#user-divider {
  margin: 0 4px;
  width: calc(100% - 8px);
}

.user-item-option {
  background-color: #2F3136;
}

.avoid-border {
  right: 100px;
}

.accept-icon:hover {
  color: #3BA45D;
}

.ignore-icon:hover {
  color: #ED4245;
}