@font-face {
  font-family: 'gg-sans';
  src: url("./assets/gg-sans-regular.woff2 ");
}

@font-face {
  font-family: 'gg-sans-med';
  src: url("./assets/gg-sans-medium-1.woff2");
}

@font-face {
  font-family: 'gg-sans-bold';
  src: url("./assets/gg-sans-bold-1.woff2");
}

@font-face {
  font-family: 'gg-sans-bold-2';
  src: url("./assets/gg-sans-bold-2.woff2");
}

@font-face {
  font-family: 'antique-olive';
  src: url("./assets/logo-font.woff2");
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "gg-sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.main-app {
  display: flex;
  height: 100%;
}