.form-parent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.form-container {
  background-color: #36393f;
  color: white;
  font-family: "gg-sans-med", sans-serif;
  padding: 20px;
  width: 780px;
  height: 410px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgb(41, 41, 41) 0px 8px 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  margin-left: 15px;
}

.qrcode {
  width: 45%;
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

.qrcode h2 {
  margin-bottom: 0;
}

.qrcode p {
  margin-top: 5px;
}

.img-container {
  background-color: white;
  width: 200px;
  padding: 5px 5px 0 5px;
  border: none;
  border-radius: 3px;
}

.secondary-text {
  color: #B9BBBE;
}

.login-form > label {
  font-family: "gg-sans-bold", sans-serif;
  font-size: 12px;
  user-select: none;
}

.login-form > input {
  font-family: "gg-sans-med", sans-serif;
  margin: 10px 0px;
  padding: 12px;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  background: none;
  color: white;
  background-color: #202225;
}

.login-form > input:focus {
  outline: none;
}

.above-inputs-container {
  margin-bottom: 12px;
}

.above-inputs-container h1 {
  font-size: 24px;
}

.above-inputs {
  margin: 5px;
}

.login-form > button {
  padding: 12px;
  border: none;
  border-radius: 3px;
  background-color: #5865F2;
  color: white;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "gg-sans-med", sans-serif;
  transition: 0.3s;
}

.login-form > button:hover {
  background-color: #4752C4;
  cursor: pointer;
  transition: 0.3s;
}

.login-form > button:active {
  background-color: #3C45A5;
}

.register-link-p {
  margin: 2.5px 0;
  font-size: 15px;
}

.register-link {
  text-decoration: none;
  color: var(--color-link-text);
  font-size: 15px;
}

.register-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

span {
  font-style: italic;
  color: #ED4245;
}

#error-label {
  color: #F38688;
}

.media-logo {
  display: none;
}

.media-logo h1 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "antique-olive", sans-serif;
  font-size: 16px;
}

/* MEDIA QUERIES */
@media (max-width: 830px) {
  .qrcode {
    display: none;
  }

  .form-container {
    justify-content: center;
    width: 480px;
  }
  
  .login-form {
    margin: 0 15px;
    width: 480px;
  }
}

@media (max-width: 520px) {
  .form-container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    border-radius: 0;
    align-items: flex-start;
  }

  .login-form {
    padding: 15px;
  }

  .media-logo {
    display: block;
  }

  .excited-text {
    display: none;
  }

  .above-inputs {
    margin: 10px;
  }
}