.register-form-container {
  background-color: #36393f;
  color: white;
  font-family: "gg-sans-med";
  padding: 20px;
  width: 480px;
  height: 520px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(41, 41, 41) 0px 8px 24px;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.register-form > label {
  font-family: "gg-sans-bold";
  font-size: 12px;
}

.register-form > input {
  font-family: "gg-sans-med";
  margin: 10px 0px;
  padding: 12px;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  background: none;
  color: white;
  background-color: #202225;
}

.register-form > input:focus {
  outline: none;
}

.register-form > button {
  padding: 12px;
  border: none;
  border-radius: 3px;
  background-color: #5865F2;
  color: white;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "gg-sans-med";
  transition: 0.3s;
}

.register-form > button:hover {
  background-color: #4752C4;
  cursor: pointer;
  transition: 0.3s;
}

.register-form > button:active {
  background-color: #3C45A5;
}

.register-heading {
  font-size: 24px;
  margin-top: 0;
}

.register-form > button {
  margin: 10px 0;
}